@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; 
    height: 100vh;
    width: 100vw;
    font-family: "Inter", sans-serif;
    overflow-y: auto;
      /* background-color: #000; */
  }
  
  canvas {
    display: block;
  }
  
  button{
    color: black;
    background-color: #fff3f3;
    padding: 4px 23px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
  .home-container{
    height: 100vh;
    background-color: #000;
  }

  .hero{
    height: 50vh;
    /* background-color: #cab1b1; */
  }

  .button-container{
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 100px;
  }

  /* LOGIN PAGE */
  .login-container{
    height: 100vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  form{
    border: 1px solid rgb(255, 255, 255);
    height: 50vh;
    padding: 20px 35px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

  }
  .form-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

  }
  .form-group label{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
  .login-container button{
    padding: 7px 25px;
    background-color: #5c4cc4;
    color: white;
  }

  /* REGISTER CSS */
  .register-container{
    height: 100vh;
    background-color: #f8faff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .register-container form{
    height: 65vh;
    padding: 30px 30px;
    border-radius: 10px; 
    background-color: #f1f1f1;
    display: flex;
    color: #000;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   }
   .register-container button{
    background-color: #5c4cc4;
    color: white;
    padding: 10px 25px;
   }

  /* DASHBOARD CSS */
  .dashboard-container{
    padding: 10px;
  }
  .dashboard-header{
    display: flex;
    justify-content: space-between;
    padding: 10px 60px 10px 30px;    
  }
  .dash-button-container{
    display: flex;
    /* background-color: aquamarine; */
    justify-content: flex-end;
    gap: 2vh;
    padding-right: 10vh;
    padding-top: 7vh;
  }
  .create-btn{
    background-color: #8C86FF;
    color: white;
    padding: 10px 23px;
    font-weight: 400;
  }
  .join-btn{
    background-color: #8c86ff56;
    border:2px solid #8C86FF;
    color: black;
    padding: 10px 23px;
    font-weight: 500;
  }
  .space-container{
    padding: 10px 60px 10px 30px;  
    position: absolute;  
    
  }
  .space-container ul{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 7vh;
    flex-wrap: wrap;
  }
  .space-container h2{
    font-size: 3vh;
    font-weight: 600;
  }

  /* MODAL CSS */
  .modal{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 30vw;
    height: 50vh;
    /* margin: 100 auto; */
    padding: 20px;
    border-radius: 10px;
    position: relative;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  
    z-index: 100;
  }
  .modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .close-btn{
    background-color: #d10b1f;
    color: white;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 10px;
  }
  .modal   form{
    height: fit-content;
    padding: 5px 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .modal form input,select{
    border: 1px solid #8C86FF;
    padding: 10px 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .modal-btn{
    background-color: #8C86FF;
    color: white;
    padding: 10px 23px;
    font-weight: 400;
    width: 100%;
    margin-top: 30px;
  }


  /* LOGOUT CSS */
  .user-div{
    cursor: pointer;
  }
  .logout{
    top: 50px;
    position: absolute;
    background-color: #8C86FF;
    color: white;
  }
